@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  overflow-x: hidden;
}

@keyframes modal-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-modal-in {
  animation: modal-in 0.25s ease-out forwards;
}

/* Charts css styles start */

/* Chart wrapper controls size (not the canvas) */
.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
}

/* Canvas should scale, not lock */
.chart-container canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 100% !important;
}

/* Fix height on mobile */
@media (max-width: 768px) {
  .chart-card {
    height: 350px;
  }
}

@media (min-width: 769px) {
  .chart-card {
    height: 400px;
  }
}

/* Charts css styles end */